#cemter {
  display:block;
  animation-name:uno;
  animation-duration:0.25s;
  animation-iteration-count:infinite;
  width:20vw;
  box-sizing:border-box;
}
body {
  background-color:#36393e;
}

@keyframes uno {
  0% {
    margin-left:0;
  }
  50% {
    margin-left:79vw;
     transform: scaleX(-1);
  }
  100% {
    margin-left:0;
  }
}

h1 {
  text-align:center;
  color:white;
  font-family: 'Hurricane', sans-serif;
  animation-name:speen;
  animation-iteration-count:infinite;
  animation-duration:1.5s;
  animation-timing-function:linear;
}

@keyframes header {
  0% {transform: scaleX(1)}
  50% {transform: scaleX(0.5)}
  100% {transform: scaleX(1)}
}

.lower {
  display:block;
  position:fixed;
  bottom:0;
  right:0;
  animation-name:bread;
  animation-duration:0.9s;
  image-rendering: pixelated;
  height:50vh;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
  overflow:cover;
}

@keyframes bread {
  0% {
    transform:rotate(0deg);
  }
  50% {
    transform:rotate(180deg);
  }
  100% {
    transform:rotate(360deg);
  }
}

.picker {
  position:fixed;
  bottom:0;
  left:0;
  width:250px;
  background-color:black;
  border-top-right-radius:25px;
}

button {
  display:block;
  margin-left:auto;
  margin-right:auto;
  animation-name:speen;
  animation-duration:1.5s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

@keyframes speen {
  /*THHHSPEEN!!*/
  0%{
    transform:scaleX(1);
  }
  25% {
    transform:scaleX(0);
  }
  50% {
    transform:scaleX(-1);
  }
  75% {
    transform:scaleX(0);
  }
  100% {
    transform:scaleX(1);
  }
}
